#main {
  background-color: rgba(100, 80, 120, 0.1);
  border-radius: 7px;
  position: absolute;
  top: 20px;
  left: 15px;
  right: 10px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-div {
  background-color: white;
  border-radius: 2px;
  margin: 8px 22px 30px 20px;
  position: relative;
  padding: 10px 10px 10px 10px;
}

#title {
  text-align: center;
  padding: 40px 5px 0px 5px;
  margin: auto;
  font-family: cursive;
  font-size: 40px;
}
.title {
  text-align: center;
  padding: 0px 5px 7px 5px;
  margin: 1px auto;
  font-family: monospace;
  font-style: italic;
  font-size: 15px;
}

.quote {
  text-align: center;
  font-style: italic;
  width: 110%;
}

h4 {
  margin: auto 40px;
  text-align: justify;
}

#tribute-info {
  text-align: justify;
  margin: auto;
  padding: 20px 0px 25px 0px;
  font-family: sans-serif;
  width: 50%;
  line-height: 28px;
}

#tribute-link {
  text-decoration: none;
}

#img-caption {
  text-align: center;
  text-transform: capitalize;
  font-family: monospace;
  font-size: 20px;
  margin: 15px 0px 0px auto;
}
